integration-test/src/main/resources/Utf8TestØService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="Utf8TestØService"
                  targetNamespace="http://github.com/bjornvester"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="http://github.com/bjornvester"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xs:schema targetNamespace="http://github.com/bjornvester"
                   xmlns="http://github.com/bjornvester"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema">
            <xs:complexType name="requestØ">
                <xs:sequence>
                    <xs:element name="arg0" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="responseØ">
                <xs:sequence>
                    <xs:element name="return" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="requestØ" nillable="true" type="requestØ"/>
            <xs:element name="responseØ" nillable="true" type="responseØ"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="requestØ">
        <wsdl:part element="tns:requestØ" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="responseØ">
        <wsdl:part element="tns:responseØ" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Utf8TestØ">
        <wsdl:operation name="utf8OperationWithCharØ">
            <wsdl:input message="tns:requestØ" name="requestØ">
            </wsdl:input>
            <wsdl:output message="tns:responseØ" name="responseØ">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Utf8TestØServiceSoapBinding" type="tns:Utf8TestØ">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="utf8OperationWithCharØ">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="requestØ">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="responseØ">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Utf8TestØService">
        <wsdl:port name="Utf8TestØPort" binding="tns:Utf8TestØServiceSoapBinding">
            <soap:address location="http://localhost:8080/MyCXFWebService/services/Utf8TestØPort"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>